name: CI - flask-sqs-service

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "flask-sqs-service/**"
      - ".github/workflows/ci-sqs.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t flask-sqs-service ./flask-sqs-service
